* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    color: #0a0a0a;
}

.rememberText ul{
    display: flex !important;
}

.rememberText ul {
    padding: 0 !important;
    margin: 0 !important;
}

.rememberText ul li{
    margin-right: 1em !important;
}

/* .container_input{
    user-select: none;
    pointer-events: none;
    cursor: none;
} */